.header
    span(class='full-name' data-full-name=user.name)= `Hello, ${user.name.split(' ')[0]} `
    a(class='nav_link' href=`/faculty/home`) Classes
    a(class='nav_link' href=`/faculty/requests`)  Requests
    a(class='nav_link' href=`/classroom/message/room/class`) Message Room
    a(class='nav_link' href='/logout') Logout