.header
    span(class='full-name' data-full-name=user.name)= `Hello, ${user.name.split(' ')[0]}`
    a(href="/home" class='nav_link') Your Classes
    a(href="/requests" class='nav_link') Courses Requested
    a(class='nav_link' href='/logout') Logout