doctype html
html(lang="en")
    head
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       title= title
       link(rel='stylesheet' href='css/style.css')
       <style>@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');</style>
       <script  src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
       link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    body
      block content