extends ../layouts/Layout
block content
    include ../layouts/HeaderTeacher
    
    .single_assignment_con 
        .details    
            h2 Loading...
        <hr style='margin-top: 30px; margin-bottom: 15px; border: 1px solid #ccc;' />
        .submissions
            h2 Loading...
            //- .submission
            //-     input(type="checkbox" class='status')
            //-     span(style='margin-left: 15px;') 
            //-         b RA1811003010635 
            //-         span(style='color: #555;') (Ashish Yoel)
            //-     p(style='margin-top:10px;margin-bottom:5px; color: #555;') Submitted On: 10:15 AM, 12th July 2020 
            //-     span.time.late On Time
            //-     .file_con
            //-         .img
            //-             img(src="assets/powerpoint.svg", alt="")
            //-             p(style='text-align: left;') Name of the file

        <hr style='margin: 30px 0; border: 1px solid #ccc;' />
        .all_students
            h2 Loading... 
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    script(src="js/teacher/oneAssignment.js" type='module')