/* basic styling */
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
}
body, input, button, ::placeholder, textarea {
    font-family: 'Poppins', sans-serif;
}
input, a, button, select, textarea {
    outline: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.engaged {
    opacity: 0.6;
}

/* 
    Header
*/
.header {
    padding: 15px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    background: #3DAD8F;
    color: #fff;
}
.nav_link {
    margin: 0 5px;
    color: #fff;
    padding: 5px;
    background-color: #fff;
    color: #3DAD8F;
}

/* 
    Response Message
*/
.response_msg{
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.response_msg_active {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    user-select: none;
    animation: response 5s ease;
}

@keyframes response {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1; 
    }
}

/* 
    Signup nad Login Form
*/
.login_sign_con {
    width: 100%;
    height: 100vh;
    background: #3DAD8F;
    background-image: url('../assets/Bg.png');
    background-size: cover;
}
.form_head {
    margin: 0 30px;
    font-size: 3rem;
    text-transform: uppercase; 
    position: relative;
    top: 30px;
    color: #fff;
}
.form_container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    border-radius: 20px;
    width: 600px;
}
.form_container .field, .add_class_form .field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    flex: 1;
}
.form_container .field2, .add_class_form .field2 {
    display: flex;
}
.form_container .field2 .field:nth-child(1), .add_class_form .field2 .field:nth-child(1) {
    margin-right: 10px;
}
.form_container .field label {
    font-size: 14px;
    color: #095863;
    margin-left: 10px;
}
.form_container .field input, .form_container .field2 select,
.add_class_form .field input, .add_class_form .field2 select, .add_class_form .field select {
    border: 1.2px solid #aaa;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #fff
}
.form_container .btn_con, .add_class_form .btn_con {
    text-align: center;
    margin-top: 15px;
}
.form_container .btn_con button, .add_class_form .btn_con button {
    width: 100%;
    border: none;
    background: #52d8a7;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.4px;
    padding: 5px 0;
    border-radius: 20px;
    font-weight: bolder;
}
.form_container section {
    text-align: center;
    margin: 10px 0;
    color: red;
}
.form_container .extra {
    display: flex;    
    margin-top: 15px;
}
.form_container .extra a {
    display: block;
    flex: 1;
    text-align: center;
    background: #04395E;
    margin: 0 5px;
    color: white;
}

/*
    Add Classes For teacher
*/
.add_class_form {
    width: 500px;
    padding: 20px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.add_class_form .field label {
    font-size: 14px;
    margin-left: 10px;
    color: #757575;
}
.add_class_form a {
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
}
.add_class_form a .fa-arrow-left {
    padding: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}
.add_class_form .field .empty_input {
    color: red;
    animation: empty 0.3s ease;
}
@keyframes empty {
    0% {
        transform: translateX(5px);
    }
    33% {
        transform: translateX(-5px);
    }
    66% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
/* 
    Home page faculty
*/
.grid_con {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 30px;
}
.grid_con .class {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    overflow-x: hidden;
    position: relative;
}

.grid_con .class::before {
    content: '';
    position: absolute;
    width: 90px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 0 20px 20px 0;
    -webkit-mask-image: radial-gradient(60% 100% at left, transparent 50%, #fff 100%);
    mask-image: radial-gradient(50% 100% at left, transparent 50%, #fff 100%);
    background: #3dad8f85;
}
.register_cls {
    padding: 6px 10px;
    margin-top: 10px;
    position: absolute;
    right: -50%;
    top: 30%;
    transition: 0.5s right ease;
    background: #3e9281;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
}
.grid_con .class:hover .register_cls, .grid_con .class:hover .classes_btn_con {
    right: 10px;
}
.grid_con .class:hover {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.7);
}

.classes_btn_con {
    position: absolute;
    top: 15%;
    right: -50%;
    transition: 0.5s right ease;
}
.classes_btn_con  a {
    padding: 6px 10px;
    background: #3e9281;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
    font-size: 14px;
    display: block;
    margin: 10px 0;
    text-align: center;
}

/* 
    Home Page student
*/
.search_container {
    text-align: center;
    width: 550px;
    margin: 30px auto;
}
.search_container input {
    padding: 8px 15px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 0 5px;
}
.search_container button {
    padding: 8px 10px;
    border-radius: 20px;
    border: none;
    color: #fff;
    background: #095863;
}

/* 
    Class and Requests
*/
#cid {
    display: none;
}
.class_det, .requests_con {
    width: 80%;
    margin: 10px auto;
}
.class_det2 {
    padding: 10px 30px;
    border-bottom: 1px solid #000;
}
.class_det  .students_con {
    margin: 10px 0;
}
.class_det  .students_con .student, .requests_con .request {
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    border-radius: 10px;
    position: relative;
}
.requests_con .request .cancel, .class_det  .students_con .student button {
    padding: 6px 10px;
    margin-top: 10px;
    background: #3e9281;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
}
.member_list {
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #fff;
    overflow-y: auto;
    height: 100vh;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}
.member_list .member {
    border-bottom: 1px #ccc solid;
    padding: 10px 20px;
} 
.member_list .member p:nth-child(1) {
    font-size: 17px;
}
.main_class_container {
    width: calc(100% - 175px);
    margin-left: 175px;
}
.main_class_container .btn_con,
.assignment_main_container .btn_con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

}
.main_class_container .btn_con button,
.assignment_main_container .btn_con button {
    padding: 5px 0;
    border: none;
    background: #3DAD8F;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 0.7;
}
.main_class_container .btn_con .active,
.assignment_main_container .btn_con .active {
    background: #2c7f69;
    opacity: 1;
}
.member_list::-webkit-scrollbar, 
.announcement_input .content::-webkit-scrollbar,
.class_groups::-webkit-scrollbar,
.messages::-webkit-scrollbar,
.assign_form .content::-webkit-scrollbar {
    width: 5px;
}
.member_list::-webkit-scrollbar-track, 
.announcement_input .content::-webkit-scrollbar-track,
.class_groups::-webkit-scrollbar-track,
.messages::-webkit-scrollbar-track,
.assign_form .content::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.member_list::-webkit-scrollbar-thumb, 
.announcement_input .content::-webkit-scrollbar-thumb,
.class_groups::-webkit-scrollbar-thumb,
.messages::-webkit-scrollbar-thumb,
.assign_form .content::-webkit-scrollbar-thumb {
    background: #888; 
}
.member_list::-webkit-scrollbar-thumb:hover, 
.announcement_input .content::-webkit-scrollbar-thumb:hover,
.class_groups::-webkit-scrollbar-thumb:hover,
.messages::-webkit-scrollbar-thumb:hover,
.assign_form .content::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.refresh_call {
    padding: 5px 10px;
    position: relative;
    bottom: 3px;
    background: #fff;
    border: none;
    margin-right: 6px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* 
    Announcements
*/
.announcement_input {
    width: 80%;
    margin: 10px auto;
}
.announcement_input .content,
.assign_form .content {
    width: 100%;
    resize: none;
    height: 150px;
    outline: none;
    border: 2px solid #ccc;
    padding: 10px 20px;
    border-radius: 10px;
    overflow-y: auto;
}
.announcement_input .post {
    margin: 5px 0;
    padding: 5px 10px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
}
.announcement_con {
    display: none;
}
.announcement_con .announcements {
    width: 80%;
    margin: 10px auto;
}
.announcement {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.announcement .date {
    color: #757575;
    font-size: 13px;
}
.announcement_input .context {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.announcement_input .link_title, .announcement_input .link_url {
    padding: 10px 15px;
    border: 1px #ccc solid;
    margin: 0 10px;
}
.announcement_input .link_url {
    width: 550px;
}
.announcement_input .add_link {
    padding: 10px 15px;
    background: #aaa;
    color: #fff;
    border: none;
}

/* 
    Document upload and preview
*/
.document_con .documents {
    width: 80%;
    margin: 10px auto;
    margin-bottom: 0;
    padding-bottom: 20px;
}
.document_input_con, .assign_container{
    width: 80%;
    margin: 10px auto;
}
.document_input_con .doc_context,
.assign_form .title {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 10px;    
}
.document_input_con .upload,
.assign_form .upload {
    margin: 5px 0;
    padding: 5px 10px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
}
.document_input_con #documents, .assign_form #assign_docs {
    display: none;
}
.label_doc_input, .label_assign_docs {
    cursor: pointer;
    display: inline-block;
    background: #1c90aa;
    padding: 10px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    position: relative;
}
.progress_con {
    width: 500px;
    background: #9e9e9e;
    border-radius: 14px;
    position: relative;
    text-align: center;
    color: #fff;
}
.progress_fill {
    background: #1c27a9;
    height: 100%;
    color: #fff;
    border-radius: 14px;
    transition: width 0.3s ease;
    position: absolute;
}
.progress_con .close {
    position: absolute;
    top: -3px;
    right: -18px;
    padding: 0;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    color: #676767;
}
.preview_doc, .single_assignment_con .box2 {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-content: space-evenly;
}
.preview_doc div, .single_assignment_con .box2 .docImg {
    height: 230px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}
.preview_doc .docImg img,
.single_assignment_con .box2 .docImg img {
    width: 90%;
    height: 70%;
    object-fit: contain;
}
.preview_doc .docImg input {
    padding: 3px 8px;
    border: 1px #ccc solid;
}
.documents .document, .assignment_container .assignment {
    padding: 10px 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
}
.documents .document .date,
.assignment_container .assignment .date {
    color: #757575;
    font-size: 13px;
}
.preview_doc .docImg p,
.single_assignment_con .box2 .docImg p {
    width: 285px;
    overflow: hidden;
    height: 25px;
    margin-bottom: 10px;
}
.preview_doc .docImg .download,
.single_assignment_con .box2 .docImg .download {
    padding: 5px 10px;
    background: #ccc;
    color: #555;
    border-radius: 50%;
}
/* 
    Message Room
*/
.class_groups {
    float: left;
    width: 250px;
    height: calc( 100vh - 55px );
    overflow-y: auto;
    border-right: 1px solid #ccc;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    
}
.class_groups .group {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
}
.class_groups .active {
    background: #ececec;
}
.class_groups .group .name {
    font-size: 16px;
    overflow-y: hidden;
    color: #000;
    pointer-events: none;
}
.class_groups .group .code {
    pointer-events: none;
    font-size: 13px;
    color: #757575;
}
.class_message_detail_container, 
.assignment_main_container {
    width: calc( 100% - 250px );
    margin-left: 250px;
}
.class_message_detail_container .details, 
.assignment_main_container .details {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    height: 148px;
}
.message_container {
    overflow: hidden;
}
.message_container .messages {
    height: 656px;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('../assets/chat.jpg');
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    padding: 10px 0;
}
.message_form {
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    background: #095863;
}
.message_form  input {
    width: 90%;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    border: none;
}
.message_form button {
    padding: 10px 20px;
    border: none;
    background: #fff;
    color: #095863;
    text-transform: uppercase;
    border-radius: 20px;
}
.class_message_detail_container .details .back_link .fa-arrow-left,
.assignment_main_container .details .back_link .fa-arrow-left,
.single_assignment_con .back_link .fa-arrow-left {
    padding: 9px 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 13px;
    position: relative;
    bottom: 4px;
    color: black;
}

/* 
    Chat Styling
*/
.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.msg:last-of-type {
    margin: 0;
}
.msg-bubble {
    max-width: 600px;
    padding: 10px 20px;
    position: relative;
    background: #9fb9b2;
    border-radius: 10px;
}
.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.msg-info-name {
    margin-right: 10px;
    font-size: 12px;
}
.msg-info-time {
    font-size: 12px;
}
.right-msg .msg-info {
    color: #aaa;
}
.left-msg .msg-info{
    color: #676767;
}
.left-msg .msg-bubble {
    margin-left: 30px;
}
.right-msg {
    flex-direction: row-reverse;
}
.right-msg .msg-bubble {
    background: #095863;
    color: #fff;
    margin-right: 30px;
}
.right-msg .msg-bubble::before, .left-msg .msg-bubble::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.left-msg .msg-bubble::before {
    border-right: 10px solid #9fb9b2;
    left: -9px;
}
.right-msg .msg-bubble::before {
    border-left: 10px solid #095863;
    right: -9px;
}

/* 
    Assignment page
*/
.assignment_container {
    display: none;
    width: 80%;
    margin: 20px auto;
}
.assign_form .students_con {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.select_student_container {
    margin: 10px 0;
    padding: 10px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
}
.select_student_container .select_all {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}
.student-checkbox {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}
.students_con div {
    margin: 10px 0;
}
.assignment .status {
    padding: 5px 20px;
    font-size: 13px;
    border-radius: 3px;
    color: #fff;
    margin: 10px 0;
    margin-right: 10px;
    display: inline-block;
}
.assignment .status.done {
    background: #276927;
}
.assignment .status.notdone {
    background: #a00a0a;
}
.single_assignment_con {
    width: 90%;
    margin: 10px auto;
    padding: 10px 30px;    
}
.single_assignment_con .box, 
.single_assignment_con .box2 {
    border: 1.5px #ccc solid;
    border-radius: 10px;
    padding: 10px 20px;
}
.single_assignment_con .head {
    margin-top: 15px;
}
.single_assignment_con .box .status {
    padding: 5px 10px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 4px;
}
.single_assignment_con .box .status.done {
    background: #276927;
}
.single_assignment_con .box .status.notdone {
    background: #a00a0a;
}
