doctype html
html(lang="en")
    head
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
       title= title
    body
        p video route
        script(src="/socket.io/socket.io.js")
        <script  src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
        script(src="js/video.js" type="module")