extends ../layouts/Layout
block content
    include ../layouts/HeaderStudent

    .single_assignment_con 
        h2 Loading....
    <hr style='margin: 20px auto; border: 1px soild #555; width: 90%;' />
    .submission_con

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    script(src="js/student/oneAssignment.js" type='module')