extends ../layouts/Layout
block content
    include ../layouts/HeaderStudent

    .single_assignment_con 
        h2 Loading....

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    script(src="js/student/oneAssignment.js" type='module')