extends ../layouts/Layout
block content
    include ../layouts/HeaderStudent

    p.response_msg
    //- search form
    include ../layouts/SearchForm

    .grid_con
        h2 Loading


    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js" integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4=" crossorigin="anonymous"></script>
    script(src="/socket.io/socket.io.js")
    script(src="js/search.js")
    script(src="js/searchjs.js")